@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

header {
    /* background-color: white; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    background-color: #171723;
    color: #02ffa0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}

nav > div:nth-child(1){
    transform: scale(1.4);
    padding: 5px 10px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    font-family: 'Bad Script', cursive;
    transition: all .2s cubic-bezier(.13,1.41,.39,1.17);
}

nav > div:nth-child(1):hover{
    transform: scale(1.5);
}


nav > div:nth-child(1)::after{
    content: "/>";
    display: block;
    position: relative;
    left: 5px;
    color: white;
    border-radius: 50%;
}

nav > div:nth-child(1)::before{
    content: "<";
    display: block;
    position: relative;
    bottom: 3px;
    color: white;
    left: -5px;
}


nav > div:nth-child(2) > ul > li{
    display: inline-block;
    font-size: 17px;
    margin:0 3px;
    padding: 5px 10px;
    /* cursor: pointer; */
}


nav > div:nth-child(2) > ul > li::after{
    content: "";
    display: block;
    height: 2px;
    position: relative;
    width: 0;
    top: 4px;
    transition: all .2s cubic-bezier(.13,1.41,.39,1.17);
}


nav > div:nth-child(2) > ul > li:hover{
   color: white;
}


nav > div:nth-child(2) > ul > li:hover::after{
    background-color: #F7F7F7;
    width: 100%;
}
