@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.bubble {
    position: absolute;
    background-color: #FFC052;
    border: 2px solid #f39e0b;
    border-radius: 50%;
    z-index: -1;
}



body {
    cursor: url('../img/custom-cursor.png'), auto;
    background-color: #171723;
    position: relative;
}


#curser {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #eee;
    left: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#curser.large {
    width: 40px;
    height: 40px;
}

@media only screen and (max-width: 700px) {
    #curser {
        display: none;
    }
}


/* header css start hare --------START */


header {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    color: #02ffa0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}



nav>div:nth-child(1) {
    transform: scale(1.4);
    padding: 5px 10px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    font-family: 'Bad Script', cursive;
    transition: all .2s cubic-bezier(.13, 1.41, .39, 1.17);
}

nav>div:nth-child(1):hover {
    transform: scale(1.5);
}


nav>div:nth-child(1)::after {
    content: "/>";
    display: block;
    position: relative;
    left: 5px;
    color: white;
    border-radius: 50%;
}

nav>div:nth-child(1)::before {
    content: "<";
    display: block;
    position: relative;
    bottom: 3px;
    color: white;
    left: -5px;
}


nav>div:nth-child(2)>ul>li {
    display: inline-block;
    font-size: 17px;
    margin: 0 3px;
    padding: 5px 10px;
    /* cursor: pointer; */
}


nav>div:nth-child(2)>ul>li::after {
    content: "";
    display: block;
    height: 2px;
    position: relative;
    width: 0;
    top: 4px;
    transition: all .2s cubic-bezier(.13, 1.41, .39, 1.17);
}


nav>div:nth-child(2)>ul>li:hover {
    color: white;
}


nav>div:nth-child(2)>ul>li:hover::after {
    background-color: #F7F7F7;
    width: 100%;
}

/* ----------- meida Query -------------------- */

@media only screen and (max-width: 850px) {
    nav {
        padding: 10px 0;
    }

    nav>div:nth-child(1) {
        transform: scale(1.1);
        padding: 5px 30px;
    }
    
    nav>div:nth-child(1):hover {
        transform: scale(1.2);
    }

    nav>div:nth-child(2)>ul {
        display: none;
    }

    nav>div:nth-child(2)> div{
        padding: 0 20px;
    }

    nav>div:nth-child(2)> div > span{
        display: block;
        width: 30px;
        height: 4px;
        background-color: #00ff9d;
        margin: 4px 0;
    }
}

@media only screen and (min-width: 851px) and   (max-width : 1000px) {
    nav {
        padding: 10px 50px;
    }

    nav>div:nth-child(2)> div{
        display: none;
    }

}



/* header css end haer */



/* html tegs icon css end hare --------START*/


.p_start,
.p_end {
    position: relative;
}


.start,
.end {
    font-size: 1rem;
    position: absolute;
    font-style: italic;
    color: gray;
}

.start::after {
    content: " >";
}

.start::before {
    content: "< ";
}

.end::after {
    content: " >";
}

.end::before {
    content: "< / ";
}


.start {
    top: 0;
    left: 0;
}

.end {
    bottom: 0;
}

@keyframes scrolltext {
    from {
        bottom: 100px;
    }

    to {
        bottom: 130px;
    }
}



.scrollText {
    position: absolute;
    right: -50px;
    bottom: 100px;
    transform: rotate(90deg);
    color: #00ff9d;
    animation: scrolltext cubic-bezier(0.215, 0.610, 0.355, 1) 400ms infinite alternate;
}


.scroll_to_top {
    width: 60px;
    height: 60px;
    border: 1px solid #00ff9d;
    position: fixed;
    top: 80vh;
    right: 100px;
    border-radius: 50%;
    color: #00ff9d;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000009f;
    z-index: 1;
    box-shadow: 0px 0px 5px #00ff9d;
    transition: all 100ms;
}

.scroll_to_top:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 850px) {
    .scroll_to_top {
        width: 50px;
        height: 50px;
        right: 50px;
        top: 85vh;
    }

}


/* html tegs css end hare */



/* hero image content css hare ---- START  */

.titleDiv {
    width: 90%;
    height: 90vh;
    margin: auto;
    /* padding: 3rem 0 0 0; */
    position: relative;

    display: flex;
    align-items: center;
}

.title {
    font-size: 3rem;
    color: white;
    padding: 30px 0;
}

.title>h1>span {

    text-shadow: -0.06em 0 #FFC052, 0.06em 0 #00ff9d;
}

.subtitle {
    font-size: 1.3rem;
    color: rgb(156, 156, 156);
}

.subtitle_btn {
    margin: 40px 0;
    position: relative;
    width: max-content;
}

.subtitle_btn>span {
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #FFC052;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
    transition: width .3s;
}

.subtitle_btn>button {
    padding: 15px 50px;
    font-size: 1rem;
    background: none;
    border: 2px solid #FFC052;
    color: #FFC052;
    pointer-events: none;
}

.subtitle_btn:hover>button {
    color: black;
}

.subtitle_btn:hover span {
    width: 100%;
    z-index: -1;
}


/* ----------- meida Query -------------------- */

@media only screen and (max-width: 850px) {
    .title {
        font-size: 2.2rem;
        color: white;
        padding: 30px 0;
    }

    .subtitle_btn>button {
        padding: 15px 30px;
        font-size: 1.1rem;
    }

    .titleDiv {
        /* padding: 3rem 0 0 0; */
        margin-top: 20px;
        display: flex;
        align-items: flex-start;
    }

    
}



/* hero image content css hare  */



/* about me css start hare */
.aboutme {
    width: 90%;
    margin: 150px auto 50px auto;
    position: relative;
}


.aboutme_title>h1 {
    padding: 20px 0;
    color: #00ff9d;
    font-size: 4rem;
}

.aboutmepara {
    width: 90%;
    margin: 10px auto 100px auto;
    /* border: 1px solid red; */
    position: relative;
}

.aboutme_detail>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutme_detail>div>div:nth-child(1) {
    width: 30%;
    text-align: center;
}

.aboutme_detail>div>div:nth-child(1)>img {
    width: 250px;
    border-radius: 50%;
    height: 250px;
    object-fit: cover;
    object-position: 0 -60px;
    outline: 3px solid #00ff9d;
}

.aboutme_detail>div>div:nth-child(2) {
    width: 70%;
}

.aboutme_detail>div>div>p {
    padding: 5px 0;
    color: rgb(228, 218, 218);
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.underline {
    position: relative;
    color: #00ff9d;
}




@media only screen and (max-width: 850px) {
    .aboutme {
        margin: 0 auto;
        position: relative;
    }

    .aboutme_title>h1 {
        padding: 20px 0;
        color: #00ff9d;
        font-size: 3rem;
    }

    .aboutmepara {
        margin: 30px auto;
    }

    .aboutme_detail>div {
        flex-direction: column;
    }

    .aboutme_detail>div>div:nth-child(1) {
        width: 90%;
        margin: 30px 0;    
    }

    .aboutme_detail>div>div:nth-child(1)>img {
        width: 200px;
        height: 200px;
        object-position: 0 -50px;
        box-shadow: none;
    }

    .aboutme_detail>div>div:nth-child(2) {
        width: 95%;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 851px) and   (max-width : 1000px) {
    .aboutme_detail>div>div:nth-child(1)>img {
        width: 200px;
        height: 200px;
        object-position: 0 -50px;
        box-shadow: none;
    }
}


/* about me css end hare */




/* skills css start hare -----START */
.skills {
    width: 90%;
    margin: 150px auto;
}

.skills>div {
    display: flex;
}

.skills>div>div:nth-child(1) {
    width: 50%;
}

.skills>div>div:nth-child(1)>div>h1 {
    padding: 20px 0;
    font-size: 4rem;
    color: #00ff9d;
}

.skills>div>div:nth-child(2) {
    width: 50%;
    text-align: center;
    margin: auto;
}

.skills>div>div:nth-child(2)>div {
    width: min-content;
    margin: auto;
}

.skills_tack>h3 {
    padding: 20px 0;
    font-size: 1.5rem;
    margin-top: 50px;
    color: whitesmoke;
}


.skills_para {
    margin-top: 50px;
    font-size: 1.3rem;
    color: whitesmoke;
    padding: 20px 0;
    line-height: 1.5rem;
}



@media only screen and (max-width: 850px) {
    .skills {
        margin: 150px auto;
    }

    .skills>div {
        flex-direction: column;
    }
    
    .skills>div>div:nth-child(1) {
        width: 100%;
    }
    
    .skills>div>div:nth-child(1)>div>h1 {
        font-size: 3rem;
    }
    
    .skills>div>div:nth-child(2) {
        width: 100%;
    }
    
    .skills>div>div:nth-child(2)>div {
        width: min-content;
        margin: auto;
    }
    
    .skills_tack>h3 {
        padding: 20px 0;
        font-size: 1.5rem;
        margin-top: 50px;
        color: whitesmoke;
    }
    
    
    .skills_para {
        margin-top: 50px;
        font-size: 1.3rem;
        color: whitesmoke;
        padding: 20px 0;
        line-height: 1.5rem;
    }
}

@media only screen and (min-width: 851px) and   (max-width : 1000px) {}

/* skills css end*/



/* projects css start hare  */

.projects {
    width: 90%;
    margin: 150px auto;
}

.projects>div:nth-child(1)>div>h1 {
    font-size: 3rem;
    padding: 20px 0;
    color: #00ff9d;
}


.projects>div:nth-child(2) {
    margin-top: 50px;
}

.projects>div:nth-child(2)>div {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    gap: 5px;
}

.projects>div:nth-child(2)>div>div {
    width: 24%;
    height: 250px;
    position: relative;
    overflow: hidden;
    flex-grow: 1;
}


.projects>div:nth-child(2)>div>div:hover img {
    transform: scale(1.1);
    opacity: 1;
}

.projects>div:nth-child(2)>div>div:hover span {
    transform: scale(1);
}

.projects>div:nth-child(2)>div>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .7;
    transition: all 200ms;
}


.projects>div:nth-child(2)>div>div>span {
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    width: 100px;
    height: 100px;
    background-color: #02ffa0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 200ms;
    text-align: center;
}




@media only screen and (max-width: 850px) {
    .projects {
        margin: 100px auto;
    }

    .projects>div:nth-child(2)>div {
        gap: 10px;
    }
    
    .projects>div:nth-child(2)>div>div {
        width: 90%;
        border: 1px solid #f39e0b;
    }
}

@media only screen and (min-width: 851px) and   (max-width : 1000px) {}

/* projects css ends hare  */



/* contact css start hare  */

.contact_me {
    width: 90%;
    margin: auto;
    margin-top: 100px;
}


.contact_title>h1 {
    font-size: 3rem;
    color: #00ff9d;
    padding: 20px 0;
}


.contact_form {
    margin-top: 50px;
}

.contact_form_main {
    display: flex;
}

.contact_form_main>div {
    width: 50%;
}

.contact_form_main>div:nth-child(2) {
    width: 50%;
    outline: 2px solid #f39e0b;
    overflow: hidden;
    height: 650px;
}

.contact_form_main>div:nth-child(2)>div>img {
    width: 100%;
}

.contact_form>form {
    padding: 20px 20px;
}

.contact_form>form>div {
    padding: 5px 0;
}


.contact_form>form input {
    padding: 20px 10px;
    width: 100%;
    font-size: 1rem;
    background-color: #2b2b30;
    border: none;
    color: #00ff9d;
}

.contact_form>form input:focus {
    outline: none;
}

.form_flex {
    display: flex;
    gap: 10px;
}

.contact_form>form textarea {
    padding: 20px 10px;
    width: 100%;
    font-size: 1rem;
    background-color: #2b2b30;
    border: none;
    color: #00ff9d;
    line-height: 1.2rem;
}

.contact_form>form textarea:focus {
    outline: none;
}


@media only screen and (max-width: 850px) {
    .contact_form_main {
        flex-direction: column;
    }

    .contact_form_main>div {
        width: 100%;
    }

    .contact_form_main>div:nth-child(2) {
        width: 100%;
        outline: 2px solid #f39e0b;
        height: min-content
    }
}

@media only screen and (min-width: 851px) and   (max-width : 1000px) {}



/* contact css end hare  */