#canvas {
    position: absolute;
    top: 60px; left: 0;
    height: calc(100% - 60px);
    width: 100%;
    /* background: radial-gradient( #fff , #fff); */
    background-color: #171723;
    z-index: -1;
}